################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pve-hookscript-sriov/FileContentIndex/f659634e-cba3-4406-a188-98a3a6eda551.vsidx
/.vs/slnx.sqlite
/.vs/pve-hookscript-sriov/FileContentIndex/a9a2541f-4a35-45fd-9042-8577656ed549.vsidx
/.vs/pve-hookscript-sriov/FileContentIndex/4bc2999e-afee-4967-9be9-40b7d3f62543.vsidx
/.vs/pve-hookscript-sriov/FileContentIndex
/.vs/pve-hookscript-sriov/v17
